<h1 class="center">¿Estás interesado en contactarme?</h1>
<br><br>
<h3 class="center">Normalmente trato de contestar por cualquiera de los siguientes medios:</h3>
<br>
<div class="containers">
  <div id="squares" class="ig">
    <img src="assets/icons/instagram.png" alt="" srcset="">
    <h3>Instagram</h3>
    <p>Es mayor la probabilidad de responderte, ando super pendiente del Instagram </p>
    <a href="https://www.instagram.com/carlosrodri_s/"> carlosrodri_s </a>
  </div>
  <div id="squares" class="mail">
    <img src="assets/icons/email.png" alt="" srcset="">
    <h3>Correo Electrónico</h3>
    <p>Si te gusta la formalidad, contactáme por mi correo electrónico: </p>
    <strong>carlosalberth.cars@gmail.com</strong>
  </div>
  <div id="squares" class="li">
    <img src="assets/icons/linkedin.png" alt="" srcset="">
    <h3>LinkedIn</h3>
    <p>Me puedes encontrar en LinkedIn como:</p>
    <strong>Carlos Alberto Rodríguez Sánchez</strong>
  </div>
</div>
