<body class="body">
  <div class="video">
    <img src="assets/icons/yo.png" alt="" srcset="">
  </div>
  <div class="description">
    <h1 class="title">{{title}}</h1>
    <p class="description">{{description}}</p>
    <h1 class="emotional">{{emotional}}</h1>
    <ul class="icons">
      <li><a target="blank" href={{facebook}}><span id="fb" class="fab fa-facebook-f"></span></a></li>
      <li><a target="blank" href={{twitter}}><span id="tw" class="fab fa-twitter"></span></a></li>
      <li><a target="blank" href={{instagram}}><span id="ig" class="fab fa-instagram"></span></a></li>
      <li><a target="blank" href={{youtube}}><span id="yt" class="fab fa-youtube"></span></a></li>
      <li><a target="blank" href={{github}}><span id="gh" class="fab fa-github"></span></a></li>
    </ul>
  </div>
</body>
