<div class="body">
  <div class="video">
    <img src="assets/icons/yo.png" alt="" srcset="">
  </div>
  <div class="description">
    <h1 class="title">{{title}}</h1>
    <p class="description_text">{{description}}</p>
    <h1 class="emotional">{{emotional}}</h1>
    <ul class="icons">
      <li><a target="blank" href={{facebook}}><span id="fb" class="fab fa-facebook-f"></span></a></li>
      <li><a target="blank" href={{twitter}}><span id="tw" class="fab fa-twitter"></span></a></li>
      <li><a target="blank" href={{instagram}}><span id="ig" class="fab fa-instagram"></span></a></li>
      <li><a target="blank" href={{youtube}}><span id="yt" class="fab fa-youtube"></span></a></li>
      <li><a target="blank" href={{github}}><span id="gh" class="fab fa-github"></span></a></li>
    </ul>
    <ul class="responsive_icons">
      <li><a target="blank" href={{facebook}}><span id="fb" class="fab fa-facebook-f i"></span></a></li>
      <li><a target="blank" href={{twitter}}><span id="tw" class="fab fa-twitter i"></span></a></li>
      <li><a target="blank" href={{instagram}}><span id="ig" class="fab fa-instagram i"></span></a></li>
      <li><a target="blank" href={{youtube}}><span id="yt" class="fab fa-youtube i"></span></a></li>
      <li><a target="blank" href={{github}}><span id="gh" class="fab fa-github i"></span></a></li>
    </ul>
  </div>
<!-- <iframe src="https://www.twitch.tv/perxitaa" frameborder="0"></iframe>
  <div id="fb-root"></div>


  <div class="fb-post" data-href="https://www.facebook.com/102634274941398/videos/2883806574989135"
    data-show-text="true" data-width="">
    <blockquote cite="https://www.facebook.com/102634274941398/videos/2883806574989135" class="fb-xfbml-parse-ignore">
      Publicado por <a href="#" role="button">Joan Sebastian Fajardo</a> en&nbsp;<a
        href="https://www.facebook.com/joan.s.fajardo.3/posts/3246073798851587">Miércoles, 21 de octubre de 2020</a>
    </blockquote>
  </div> -->

</div>
