.body {
    margin-top: 5vh;
    display: grid;
    background-color: #fff;
    text-align: center;
    grid-template-areas:
        "description video "
        " landing landing";
}

.title {
    margin-top: 0vh;
    margin-left: 5%;
    text-align: left;
    font-size: 6vh;
    color: black;
    font-family: "Ubuntu", sans-serif;
}

.description {
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    font-size: 4vh;
}

.emotional {
    margin-left: 5%;
    font-size: 4vh;
    font-weight: bold;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
}

.video {
    margin-right: 4vh;
    grid-area: video;
}

.description {
    grid-area: description;
    font-family: "Ubuntu", sans-serif;
}

.landing {
    margin-left: 5%;
    grid-area: landing;
    margin-top: 3vh;
}

@media screen and (max-width: 948px) {
    .body {
        grid-template-areas:
            "landing"
            "video"
            "description";
    }
    iframe {
        width: 90vw;
        height: 50vh;
    }
    .title {
        font-size: 2rem;
    }
    .description{
        font-size: 1rem;
    }
    .emotional{
        font-size: 1.2rem;
    }
}
span {
    position: relative;
    /* text-align: center; */
}

.icons {
    margin-top: 3vh;
    position: absolute;
    list-style: none;
    text-align: center;
    left: 5vh;
}

.fab {
    margin-top: 1vh;
}

.icons li {
    position: relative;
    width: 12vh;
    height: 12vh;
    display: inline-block;
    cursor: pointer;
    margin: 0 10px;
}

.icons li:before {
    position: absolute;
    top: 0vh;
    left: 0vh;
    content: "";
    height: 12vh;
    width: 12vh;
    border-radius: 10%;
    z-index: 0;
    transition: all 0.3s ease-in;
    -webkit-box-shadow: 0px 1px 16px 11px rgba(230, 230, 230, 1);
    -moz-box-shadow: 0px 1px 16px 11px rgba(230, 230, 230, 1);
    box-shadow: 0px 1px 16px 11px rgba(230, 230, 230, 1);
}

.icons li:hover:before {
    transform: rotate(360deg);
    border-radius: 100%;
}

.icons li a span {
    line-height: 70px;
    font-size: 8vh;
    transition: all 0.3s ease-out;
    z-index: 1;
}

#fb {
    color: #3b5998;
}

#ig {
    color: #ae31d9;
}

#tw {
    color: #00acee;
}

#gh {
    color: #24292e;
}

#yt {
    color: red;
}

.icons li:hover a span {
    transform: scale(1.2);
}
