<h1>ACERCA DE MÍ</h1>
<div class="container">
  <div class="text">
    <P>
      Sencillo y sin complicaciones, pero siempre dando lo mejor de mí para
      <strong>todo lo que venga</strong>, me gusta ayudar a las personas, en
      especial a auqellas personas que lo necesitan y son berracas y echadas para
      adelante. <br>

      Me gusta viajar y conocer nuevas culturas y lugares, me gusta la naturaleza, puesto que
      soy del campo, además que soy muy apasionado de la tecnología y los avances tecnológicos
      que hayan.

      <br>

      <p>Me gusta trabajar y emprender, pero no siempre todo en la vida es trabajo, por tal razón es que me gusta viajar
        tener tiempo para divertirme y por supuesto hacer ejercicio. <br>
        <strong> No me gusta mucho la formalidad</strong>, pienso que esta es una nueva época en donde todos valemos
        por lo que somos como personas y no como vestimos, especular de una persona por su forma de vestir es
        simplemente <strong>¡Estúpido!</strong>
      </p>
  </div>
  <div class="img">
    <img src="assets/icons/yo.png" alt="">
  </div>
</div>
