
<div class="footer">
    <h2>¿Qué hago?</h2>
    <div class="containers">
        <div id="squares" class="desarrollo">
            <img src="../../../assets/icons/development.png" alt="" srcset="">
            <h3>Desarrollo</h3>
            <p>{{desarrollo}}</p>
        </div>
        <div id="squares" class="empren">
            <img src="../../../assets/icons/motivation.png" alt="" srcset="">
            <h3>Emprendimiento</h3>
            <p>{{emprendimiento}}</p>
        </div>
        <div id="squares" class="marketing">
            <img src="../../../assets/icons/search.png" alt="" srcset="">
            <h3>Marketing Digital</h3>
            <p>{{marketing}}</p>
        </div>
        <div id="squares" class="audiov">
            <img src="../../../assets/icons/camera.png" alt="" srcset="">
            <h3>Producción audiovisual</h3>
            <p>{{produccion}}</p>
        </div>
    </div>
</div>
