<header class="container">
  <div class="menu_bar">
    <a class="bt-menu"><span class="icon-list2">
        <img src="assets/icons/menu.png" alt="" srcset="">
      </span>{{title}}</a>
  </div>
  <nav>
    <ul>
      <li><a [routerLink]="['/']"><span class="icon-house"></span>Inicio</a></li>
      <li><a [routerLink]="['blog']"><span class="icon-suitcase"></span>BLOG</a></li>
      <li><a [routerLink]="['about']"><span class="icon-rocket"></span>Acerca de mi</a></li>
      <li><a [routerLink]="['projects']"><span class="icon-earth"></span>Proyectos</a></li>
      <li><a [routerLink]="['empren']"><span class="icon-mail"></span>Emprendimiento</a></li>
      <li><a [routerLink]="['contact']"><span class="icon-mail"></span>Contacto</a></li>
    </ul>
  </nav>
</header>
