*{
    font-family: "Lato", sans-serif;
}

header {
    width: 100%;
}

img {
    margin-left: 2vw;
}
.title {
    grid-area: title;
}
.menu {
    grid-area: menu;
    margin-top: 2vh;
    /* margin-right: 4vh; */
    text-align: right;
}

a {
    display: inline-block;
    /* margin: 2vh; */
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.logo{
    background-color: none;
    padding: 1vw;
    color: #4597FF;
    margin: auto;
    font-size: 40px;
}

@media only screen and (max-width: 768px) {
    .btnMenu {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .menu {
        display: none;
    }
    h3 {
        font-size: 1rem;
    }
    .header {
        grid-template-areas: "logo title title title btnMenu";
    }

    .logo {
        font-size: 2rem;
    }
}

.container{
    text-align: center;
}

header {
    width: 100%;
}

ul {
    background-color: white;
}

header nav {
    width: 100%;
    background: #4597FF;
}

.menu_bar {
    display: none;
}

header nav ul {
    overflow: hidden;
    list-style: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    color: #000;
    padding: 20px;
    display: block;
    border-bottom: solid;
    border-color: #fff;
    text-decoration: none;
}

header nav ul li span {
    margin-right: 10px;
}

header nav ul li a:hover {
    border-bottom: solid;
    border-color: #4597FF;
}

@media only screen and (max-width: 800px) {
    header nav {
        width: 80%;
        height: 100%;
        left: -100%;
        margin: 0;
        position: fixed;
    }
    header nav ul li a:hover {
        background: orange;
    }

    ul {
        background-color: #4597FF;
    }

    header nav ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .menu_bar {
        display: block;
        width: 100%;
        background: white;
    }

    .menu_bar .bt-menu {
        display: block;
        padding: 20px;
        background: #fff;
        color: #000;
        text-decoration: none;
        font-weight: bold;
        font-size: 25px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .menu_bar span {
        float: right;
        font-size: 40px;
    }
}

@media only screen and (max-width: 1079px) {
    .logo {
        font-size: 2rem;
    }
}

a {
    cursor: pointer;
}
