.container {
    grid-template-areas: 'img text date';
    display: flex;
    height: 30vh;
    margin-right: 2vh;
    margin-bottom: 2vh;
    -webkit-box-shadow: 0px 1px 16px 11px rgba(230, 230, 230, 1);
    -moz-box-shadow: 0px 1px 16px 11px rgba(230, 230, 230, 1);
    box-shadow: 0px 1px 16px 11px rgba(230, 230, 230, 1);
    border-radius: 2vh;
    cursor: pointer;
}

*:focus{
    outline: none;
}

img {
    width: 20%;
    padding: 1vh;
    align-content: flex-start;
    margin-right: 2vh;
    grid-area: img;
}

.text{
    width: 60%;
    margin-left: 2vh;
    grid-area: text;
}

h2 {
    width: 20%;
    grid-area: date;
}

@media screen and (max-width: 768px){
    .container{
        background-color: gray;
    }
}