button{
    background-color: orange;
    color: white;
    border-radius: 2vh;
    cursor: pointer;
    width: 25%;
    border: none;
    font-weight: bolder;
    height: 5vh;
}

*:focus { outline: none; } 

input{
    margin-bottom: 2vh;
    border-radius: 2vh;
    height: 3.5vh;
}

textarea{
    margin-bottom: 2vh;
    height: 15vh;
    border-radius: 2vh;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-color: #f6f6f6;
    margin-left: 15%;
    margin-right: 15%;
    padding: 2vh;
    border-radius: 2vh;
}