*{
    font-family: "Lato", sans-serif;
}

button {
    background-color: orange;
    color: white;
    border-radius: 2vh;
    cursor: pointer;
    width: 25%;
    border: none;
    font-weight: bolder;
    height: 5vh;
}

.comments {
    border-bottom: solid;
    border-color: darkgray;
    border-width: 1px;
    width: 85%;
    margin: auto;
    margin-bottom: 2vh;
}

.comments-top {
    border-top: solid;
    margin: auto;
    width: 90%;
}

*:focus {
    outline: none;
}

input {
    margin-bottom: 2vh;
    border-radius: 2vh;
    height: 3.5vh;
}

textarea {
    margin-bottom: 2vh;
    height: 15vh;
    border-radius: 2vh;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-color: #f6f6f6;
    margin-left: 15%;
    margin-right: 15%;
    padding: 2vh;
    border-radius: 2vh;
}

h3 {
    margin-left: 5%;
}

.comment-top {
    display: flex;
}

.date{
    color: darkgrey;
    font-size: 0.8rem;
}

p {
    margin-left: 5%;
}

@media screen and (max-width: 500px) {
    button {
        width: 40%;
    }
}
