<div class="container">

  <div class="poster">
  </div>

  <div class="sidebar">
    <ul>
      <li><i class="fas fa-home"></i>
        <p>Dashboard</p>
      </li>
      <li><i class="fas fa-comment"></i>
        <p>Comentarios</p>
      </li>
      <li><i class="fas fa-user-check"></i>
        <p>Suscritos</p>
      </li>
    </ul>
  </div>

  <div class="article">
    <h3>Nuevo artículo</h3>
    <label><i class="fas fa-camera"></i>
      <p>Imagen</p>
      <input class="image" type="file" accept=".png, .jpg, .jpeg" (change)='uploadImage($event)'>
    </label>
    <input class="input" type="text" [(ngModel)]='title' placeholder="Titulo">
    <br>
    <textarea class="input" type="text" [(ngModel)]='description' placeholder="Descripción"></textarea>
    <br>
    <div class="buttons">
      <button (click)="publish()">Publicar <i class="fas fa-paper-plane" id="sendIcon"></i></button>
    </div>
  </div>

  <div class="bloc">
    <ul class="blogs" *ngFor="let article of articles">
      <h3 id="articleList">{{article.title}}</h3>
      <p>{{article.description.substring(0, 80)+'...'}}</p>
    </ul>
  </div>

</div>
