<div class="container">

  <!-- SideBar goes here -->
  <div class="sidebar">
    <ul>
      <li (click)="switchComments('dashboard')"><i class="fas fa-home"></i>
        <p>Dashboard</p>
      </li>
      <li (click)="switchComments('comments')"><i class="fas fa-comment"></i>
        <p>Comentarios</p>
      </li>
      <li><i class="fas fa-user-check"></i>
        <p>Suscritos</p>
      </li>
    </ul>
  </div>

  <!-- Article div goes here -->
  <div class="article" id="article">
    <form (ngSubmit)="publish()" [formGroup]='form'>
      <h3>Nuevo artículo</h3>
      <!-- <label><i class="fas fa-camera"></i>
        <img src={{img}} alt="" class="uploadImage">
        <p>Imagen</p>
        <input class="image" type="file" accept=".png, .jpg, .jpeg" (change)='uploadImage($event)'>
      </label> -->
      <div class="tag-options">
        <i class="bi bi-type-h1" (click)="addTagContent('h1')"></i>
        <i class="bi bi-type-h2" (click)="addTagContent('h2')"></i>
        <i class="bi bi-type-h3" (click)="addTagContent('h3')"></i>
        <i class="bi bi-arrow-return-right" (click)="addTagContent('br')"></i>
        <i class="bi bi-textarea-t" (click)="addTagContent('p')"></i>
        <i class="bi bi-file-image" (click)="addTagContent('img')"></i>
        <!-- <i class="bi bi-camera-video" (click)="addTagContent('video')"></i> -->
      </div>
      <textarea class="input" type="text" formControlName='content' placeholder="Contenido"></textarea>
      <br>
      <div id="preview"></div>
      <br>
      <div class="buttons">
        <button type="submit">Publicar <i class="fas fa-paper-plane" id="sendIcon"></i></button>
      </div>
    </form>
  </div>

  <!-- <div class="comments" hidden *ngFor="let comment of commentsList" id="comments">
    <label>
      <h3>{{comment.name}}</h3>
      <p>{{comment.comment}}</p>
    </label>
  </div> -->

  <!-- <div class="bloc">
    <ul class="blogs" *ngFor="let article of articles">
      <h3 id="articleList">{{article.title}}</h3>
    </ul>
  </div> -->

</div>
