.container {
    text-align: center;
    display: flex;
}

.poster {
    position: absolute;
    background-color: #5f27cd;
    z-index: 0;
    width: 99%;
    height: 30%;
}

ul {
    height: 70%;
    margin-top: 5vh;
}

#articleList {
    text-align: left;
    margin-left: 1.5vh;
}

#sendIcon {
    margin-left: 4vh;
    margin-right: 0.5vh;
}

.article {
    padding: 3vh;
    width: 40%;
    border-radius: 0.8vh;
    margin-left: 10vh;
    z-index: 1;
    background-color: #fff;
    margin-top: 8%;
    box-shadow: -1px 7px 12px -5px rgba(95, 39, 205, 0.45);
    -webkit-box-shadow: -1px 7px 12px -5px rgba(95, 39, 205, 0.45);
    -moz-box-shadow: -1px 7px 12px -5px rgba(95, 39, 205, 0.45);
}

input {
    margin-bottom: 2vh;
}

.input {
    border-radius: 1vh;
}

a {
    text-decoration: none;
    width: 100%;
    color: #000;
    font-weight: bolder;
    cursor: pointer;
}

li:hover {
    border-bottom: solid;
    border-color: #ffbf45;
}

h3 {
    text-align: justify;
    margin-bottom: 0.5vh;
}

textarea {
    margin-bottom: 2vh;
    height: 35vh;
    width: 40vw;
    border-radius: 0.5vh;
}

input {
    height: 5vh;
    width: 100%;
}

*:focus {
    outline: none;
}

.sidebar {
    margin-left: 4%;
    height: 70%;
    border-radius: 0.8vh;
    padding-right: 3vw;
    margin-top: 2%;
    padding-bottom: 27%;
    width: 20%;
    background-color: #fff;
    z-index: 1;
    box-shadow: -1px 7px 12px -5px rgba(95, 39, 205, 0.45);
    -webkit-box-shadow: -1px 7px 12px -5px rgba(95, 39, 205, 0.45);
    -moz-box-shadow: -1px 7px 12px -5px rgba(95, 39, 205, 0.45);
}

li {
    text-align: left;
    margin-bottom: 2vh;
    list-style: none;
    display: flex;
    cursor: pointer;
}

i {
    margin: auto;
    margin-right: 4vh;
    margin-left: 0vh;
}

label {
    display: flex;
    margin-top: 0.5vh;
    cursor: pointer;
    width: 20%;
}

button {
    border-radius: 1vh;
    border: none;
    height: 6vh;
    cursor: pointer;
    color: #fff;
    font-weight: bolder;
    background-color: #5f27cd;
}

#img {
    margin-right: 1vh;
}

ul.blogs {
    display: inline-block;
    margin-left: 3%;
    margin-right: 4%;
    margin-bottom: 2%;
    z-index: 1;
    background-color: #fff;
    cursor: pointer;
    height: 25vh;
    width: 30vh;
    padding-right: 8%;
    border-radius: 0.8vh;
    box-shadow: -1px 7px 12px -5px rgba(95, 39, 205, 0.45);
    -webkit-box-shadow: -1px 7px 12px -5px rgba(95, 39, 205, 0.45);
    -moz-box-shadow: -1px 7px 12px -5px rgba(95, 39, 205, 0.45);
}

.bloc {
    z-index: 1;
    margin-top: 5.4%;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}
