*{
    font-family: "Lato", sans-serif;
}
.container {
    text-align: center;
    display: flex;
}

.poster {
    position: absolute;
    background-color: #5f27cd;
    z-index: 0;
    width: 99%;
    height: 30%;
}

.uploadimage {
    width: 15vw;
    height: 10vh;
}

ul {
    height: 70%;
    margin-top: 5vh;
}

#articleList {
    text-align: left;
    margin-left: 1.5vh;
}

#sendIcon {
    margin-left: 4vh;
    margin-right: 0.5vh;
}

input {
    margin-bottom: 2vh;
}

.input {
    border-radius: 1vh;
}

a {
    text-decoration: none;
    width: 100%;
    color: #000;
    font-weight: bolder;
    cursor: pointer;
}

li {
    border-left: solid;
    border-color: #fff;
}

li:hover {
    border-color: #6247d1;
}

h3 {
    text-align: justify;
    margin-bottom: 0.5vh;
}

textarea {
    margin-bottom: 2vh;
    width: 100%;
    height: 20%;
    border-radius: 0.5vh;
}

input {
    height: 5vh;
    width: 100%;
}

*:focus {
    outline: none;
}

.sidebar {
    width: 10%;
}

.article {
    padding: 3vh;
    width: 90%;
    border-radius: 0.8vh;
    margin-left: 10vh;
    z-index: 1;
    background-color: #f0f5f8;
}

li {
    text-align: left;
    margin-bottom: 2vh;
    list-style: none;
    display: flex;
    cursor: pointer;
}

i {
    margin: auto;
    margin-right: 4vh;
    margin-left: 0vh;
}

label {
    display: flex;
    margin-top: 0.5vh;
    cursor: pointer;
    width: 20%;
}

button {
    border-radius: 1vh;
    border: none;
    height: 6vh;
    cursor: pointer;
    color: #fff;
    font-weight: bolder;
    background-color: #6247d1;
}

#img {
    margin-right: 1vh;
}

ul.blogs {
    display: inline-block;
    margin-left: 3%;
    margin-right: 4%;
    margin-bottom: 2%;
    z-index: 1;
    background-color: #fff;
    cursor: pointer;
    height: 25vh;
    width: 30vh;
    padding-right: 8%;
    border-radius: 0.8vh;
    box-shadow: -1px 7px 12px -5px rgba(95, 39, 205, 0.45);
    -webkit-box-shadow: -1px 7px 12px -5px rgba(95, 39, 205, 0.45);
    -moz-box-shadow: -1px 7px 12px -5px rgba(95, 39, 205, 0.45);
}

.bloc {
    z-index: 1;
    margin-top: 5.4%;
    height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.image {
    display: none;
}

.tag-options {
    display: flex;
    margin: 1%;
}

i {
    cursor: pointer;
}

.bi {
    padding: 0.2em;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: white;
}

p {
    text-align: justify;
}

#preview {
    background-color: #fff;
    text-align: justify;
}
