.container {
    text-align: center;
    margin-top: 0;
}

h1 {
    text-align: center;
    color: #fff;
    padding: 2vh;
    font-family: "Ubuntu", sans-serif;
    font-size: 7vh;
    background-color: orange;
    grid-area: title;
}

img {
    height: 30vh;
}

p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    h1 {
        background-color: #fff;
        color: #000;
        font-weight: bolder;
        font-size: 2rem;
    }
    img {
        width: 100%;
    }
}
