<div class="center">
  <h1>Proyectos</h1>

  <p>Mis proyectos están reservados por el momento, solo te puedo comentar que uno de ellos es el ayudar a jovenes
    emprendedores en el mundo digital, lo puedes ver en <strong><a href={{youtube}}>Youtube</a></strong>, y el otro
    proyecto que te puedo decir y que es uno de los más importantes
    es el hecho de mi crecimiento como persona y emprendedor
  </p>

  <h2>Mi blog y página web</h2>
  <p>He realizado mi página web que incluye un blog y un pequeño CRM que desarrollé, está hecha con Angular y NodeJs,
    pero sábes
    <strong>¿Cuál fué la sorpresa que me llevé cuando decidí incluir el apartado de BLOG?</strong>, que Angular
    no es SEO frendly, afortunadamente existe SSR (Side Server Render) y o implementé mediante Angular origin</p><br>
  <p>Si lo deseas, <strong>Te regalo el template que desarrollé</strong> en mi repositorio está, si le quieres
    implementar
    mejoras, estaría genail, estupendo!!, con eso entre todos aportamos al open Source</p>
  <a href="https://github.com/carlosrodri" target="_blank">template aquí</a>
</div>
