p {
    font-size: 20px;
}

*{
    font-family: 'Lato', sans-serif;
}

a:hover{
    background-color: lightgrey;
    transform: matrix();
}

.center {
    margin-left: 15%;
    margin-right: 15%;
}

@media screen and (max-width: 768px) {
    p {
        font-size: 20px;
    }

    .center {
        margin-left: 2%;
        margin-right: 2%;
    }
}
