<form action="">
  <p class="title">{{title}}</p>
  <input class="name" type="text" placeholder="Nombre" [(ngModel)]="landing.name" required name="names">
  <input class="mail" type="email" placeholder="Correo electrónico" [(ngModel)]="landing.mail"
    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #mailp='ngModel' required name="mails"
    [class.is-invalid]="mailp.invalid && mailp.touched">
  <div>
    <small *ngIf="mailp.invalid && mailp.touched">
      Ingresa una dirección de correo electrónico válida</small>
  </div>
  <button class="button" (click)="accept()">¡De una!</button>
</form>
