*{
    font-family: "Lato", sans-serif;
}

form {
    border: solid;
    border-color: gray;
    border-radius: 2vh;
    text-align: center;
    display: grid;
    grid-template-areas:
    "title"
    "name"
    "mail"
    "button";
    width: 60%;
    margin: auto;
}

small{
    color: red;
}

.title {
    font-size: 4vh;
    grid-area: title;
}

.name {
    grid-area: name;
}

input:focus {
    outline: none;
}

input{
    height: 6vh;
    margin: 2vh;
    font-weight: normal;
    color: gray;
    font-size: 3vh;
    border-radius: 2vh;

}

.mail {
    grid-area: mail;
}
.button {
    background-color: orange;
    height: 10vh;
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 2vh;
    border: none;
    text-align: center;
    color: black;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 2vh;
    margin-top: 0vh;
    grid-area: button;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    form {
        grid-template-areas:
            "title"
            "name"
            "mail"
            "button";

            width: 90%;
            margin: auto;
    }
    .name{
        margin: 2vh;
    }

    .mail{
        margin: 2vh;
    }

    .button{
        font-size: 1.2rem;
        height: 5vh;
    }

    .title{
        font-size: 1.2rem;
    }

    input{
        font-size: 1rem;
    }
}
